<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.infra.mapper.FilmMapper">
  <resultMap id="BaseResultMap" type="com.hand.domain.entity.Film">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="film_id" jdbcType="SMALLINT" property="filmId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="release_year" jdbcType="DATE" property="releaseYear" />
    <result column="language_id" jdbcType="TINYINT" property="languageId" />
    <result column="original_language_id" jdbcType="TINYINT" property="originalLanguageId" />
    <result column="rental_duration" jdbcType="TINYINT" property="rentalDuration" />
    <result column="rental_rate" jdbcType="DECIMAL" property="rentalRate" />
    <result column="length" jdbcType="SMALLINT" property="length" />
    <result column="replacement_cost" jdbcType="DECIMAL" property="replacementCost" />
    <result column="rating" jdbcType="CHAR" property="rating" />
    <result column="special_features" jdbcType="CHAR" property="specialFeatures" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>