<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.infra.mapper.FilmCategoryMapper">
  <resultMap id="BaseResultMap" type="com.hand.domain.entity.FilmCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="film_id" jdbcType="SMALLINT" property="filmId" />
    <id column="category_id" jdbcType="TINYINT" property="categoryId" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
</mapper>