<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.infra.mapper.NicerButSlowerFilmListMapper">
  <resultMap id="BaseResultMap" type="com.hand.domain.entity.NicerButSlowerFilmList">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="FID" jdbcType="SMALLINT" property="fid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="length" jdbcType="SMALLINT" property="length" />
    <result column="rating" jdbcType="CHAR" property="rating" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="actors" jdbcType="LONGVARCHAR" property="actors" />
  </resultMap>
</mapper>