<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.infra.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.hand.domain.entity.Store">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="store_id" jdbcType="TINYINT" property="storeId" />
    <result column="manager_staff_id" jdbcType="TINYINT" property="managerStaffId" />
    <result column="address_id" jdbcType="SMALLINT" property="addressId" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
</mapper>